/******************************************************************
GRID
******************************************************************/

// using a mixin since we can't use placeholder selectors
@mixin grid-col {
  float: left;
  padding-right: 1%;
}

.main-content {
  @include grid-col;
  width:100%;

  @include breakpoint(tablet) {
      width:71%;

      &.full {
        width:100%;
      }
  }
}

.sidebar {
  @include grid-col;
  width: 100%;
  
  @include breakpoint(tablet) {
      width:26%;

      &.full {
        width:100%;
      }
  }
}

// the last column
.last-col {
  float: right;
  padding-right: 0;
}